<h4 class="ui center aligned medium icon header">
  <i class="circular comments icon" style="color:#00bcd4"></i>
  Messages
</h4>

<div class="ui two column grid">
<!-- CHAT FEED -->
	<div class="twelve wide column">
		<div class="ui fluid raised card chatbox">
		  <div class="content">
				<div class="ui feed">
				  <div class="event">
				    <div class="content">
				      <div class="summary">
				         <a>Elliot Fu</a> added <a>Jenny Hess</a> as a friend
				      </div>
				    </div>
				  </div>
					<%= render @messages %>
				</div>
			</div>
			<div class="extra content">
				<form class="ui reply form">
			    <div class="field">
				    <div class="ui fluid icon input">
				    	<input type="text" placeholder="Enter your message...">
				      <i class="bordered edit icon" style="color: white; background-color: #00bcd4"></i>
				    </div>
				  </div>
			  </form>
			</div>
		</div>
	</div>

<!-- SIDE MENU -->
	<div class="four wide column">
		<div class="ui fluid raised card chatbox">
		  <div class="content">
				<div class="ui inverted vertical pointing menu">
				  <a class="active item">
				    Home
				  </a>
				  <a class="item">
				    Messages
				  </a>
				  <a class="item">
				    Friends
				  </a>
				</div>
			</div>
		</div>
	</div>

</div>